* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  user-select: none;
  -moz-user-select: none;
  overflow: hidden;
  background-size: cover;
}
#media {
  text-align: center;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#media h1 {
  color: #d0dae0;
  font-size: 250%;
  margin-bottom: 15%;
}
#media h2 {
  color: #d0dae0;
  font-size: 125%;
}
#media ul li {
  display: inline-block;
  list-style: none;
  margin-top: 15%;
  margin-bottom: 15%;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 150%;
}
#media a {
  color: #d0dae0;
  text-decoration: none;
}
#media a:hover {
  color: #d0dae0;
  text-shadow: 0 0 1px #d0dae0, 0 0 1px #d0dae0;
  transition: 0.125s;
}
#media .terminal-container {
  position: fixed;
  height: 150%;
  width: 200%;
  overflow-y: auto;
  overflow-x: hidden;
  transform: translate(-25%, 0%);
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #d0dae0;
}
.terminal,
.cmd,
.terminal-output div div,
.prompt {
  text-align: left;
}
@media only screen and (max-width: 550px) {
  .terminal,
  .cmd,
  .terminal-output div div,
  .prompt {
    display: none;
  }
}
#credit {
  font-family: source code pro, FreeMono, monospace;
  color: #aaa;
  font-size: 75%;
  margin: 10px auto;
}